html, body, #root {
  background: #f3f3f3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: #333;
},

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
},

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
